*{
	padding:0;margin: 0 ;font-family:微软雅黑;
	list-style:none; 
	font-size: 13px;}
	a, a:visited {
    text-decoration: none;
    color: #333333;
}
/* a:hover, a:active {
    color:#E01111;
    text-decoration:underline;} */

.player-bt{
	width: 540px;
	float:left;
	height:50px;
	background: #000;
}
.pl-bfb{
	float:left;
	width: 110px;
	height: 100%;
	background: #262626;
	color: #FFFFFF;
	font-size:18px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.daos{
	width: 110px;
	height: 8px;
	position: absolute;
	bottom:-8px;
	left:0;
}
.daostu{
	width: 20px;
	height: 8px;
	float:left;
	margin-left: 48px;
	background:url(../img/1.png);
	background-position: -504px -28px;
}
.pl-qkb{
	width: 100px;
	height: 50px;
	float:right;
	background:#000;
}
.pl-qkb .xiala{
	width:100px;
	height: 20px;
	float:right;
	background:#000;
}
.xiala .xiala-tu{
    width: 20px;
    height: 20px;
    float:right;
    margin-right: 5px;
    background:url(../img/1.png);
    background-position:-270px -97px;
}
.main-xiala{
	width: 100px;
	height: 30px;
	float:left;
	line-height:15px;
	text-align: left;
	color: #999999;
    cursor: pointer;
}
.music-lb{
	width:540px;
	height:442px;
	float:left;
	margin-top: 8px;
}
.zheng{
	width: 540px;
	height: 25px;
	float:left;
	background:#1B1B1B;
	position: relative;
	transition:all 0.8s ease;
}
.shang{
	position: absolute;
	left:0;
	top:0;
	background:#000;
	width: 540px;
	height: 25px;
	cursor: pointer;
	transition:all 0.8s ease;
	display: none;
}
.zheng li{
	float:left;
	cursor: pointer;
}
.quname{
	width:270px;
	line-height: 25px;
	text-align:left;
	color:#999;
	text-indent: 10px;
}
.name{
	width:135px;
	line-height: 25px;
	text-align: left;
	color:#999;
	text-indent: 10px;
}
.time{
	width:135px;
	line-height: 25px;
	text-align: left;
	color:#999;
	text-indent: 10px;
}
.zheng:hover .shang{
    display: block;
}
.shang:hover .quname{
	color:#fff;
}
.shang:hover .name{
	color:#fff;
}
.green li{
	color:#6AC62E;
}
.lick{
	width:90px;
	height: 15px;
	float:left;
	margin-top:5px;
}
.xihuan{
	width: 15px;
	height: 15px;
	float:left;
	margin-left: 7px;
	background: url(../img/1.png);
	background-position: 0 -127px;
	position:relative;
	cursor: pointer;
}
.xhbe{
	width: 15px;
	height: 15px;
	position: absolute;
	left:0;
	top:0;
	background:url(../img/1.png);
	background-position:0 -145px;
	display: none;
	cursor: pointer;
}
.xihuan:hover .xhbe{
	display: block;
}
.fx{
	width: 15px;
	height: 15px;
	float:left;
	margin-left: 7px;
	background: url(../img/1.png);
	background-position:-17px -127px;
	position:relative;
	cursor: pointer;
}
.fxbe{
	width: 15px;
	height: 15px;
	position: absolute;
	left:0;
	top:0;
	background:url(../img/1.png);
	background-position:-17px -145px;
	display: none;
	cursor: pointer;
}
.fx:hover .fxbe{
	display: block;
}
.sc{
	width: 15px;
	height: 15px;
	float:left;
	margin-left: 7px;
	background: url(../img/1.png);
	background-position:-67px -127px;
	position:relative;
	cursor: pointer;
}
.scbe{
	width: 15px;
	height: 15px;
	position: absolute;
	left:0;
	top:0;
	background:url(../img/1.png);
	background-position:-67px -145px;
	display: none;
	cursor: pointer;
}
.sc:hover .scbe{
	display: block;
}
.ac{
	width: 15px;
	height: 15px;
	float:left;
	margin-left: 7px;
	background: url(../img/1.png);
	background-position:-50px -127px;
	position:relative;
	cursor: pointer;
}
.acbe{
	width: 15px;
	height: 15px;
	position: absolute;
	left:0;
	top:0;
	background:url(../img/1.png);
	background-position:-50px -145px;
	display: none;
	cursor: pointer;
}
.ac:hover .acbe{
	display: block;
}
.boxx{
	width: 540px;
	height: 625px;
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	margin:0 auto;
}
.jindu{
	width: 540px;
	height: 10px;
	position: absolute;
	left:0;
	bottom:0;
	right:0;
	background: green;
}
.zhishidian{
	width: 15px;
	height: 15px;
	background:blue;
	border-radius: 50%;
	float:left;
	margin-left:-15px;
	margin-top:-2px;
}
.hongtiao{
	width: 300px;
	height: 10px;
	background: red;
	float:left;
}
.music-buttom{
	width: 540px;
	height: 115px;
	position:absolute;
	bottom:10px;
	right:0;
	left:0;
	margin:auto;
	background: #000;
}
.music-player{
	width: 540px;
	height: 500px;
	position:absolute;
	bottom:125px;
	right:0;
	left:0;
	margin:auto;
	background: #1B1B1B;
}
.touxiang{
	width:100px;
	height: 115px;
	float:left;
}
.touxiang img{
	width: 90px;
	height:90px;
	margin-left: 10px;
	margin-top: 10px;
}
.houmiantop{
	width: 440px;
	height: 30px;
	float:left;
}
.quzi{
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent:13px;
	float:left;
	color:#999;
}
.quzi1{
	width: auto;
	height: 30px;
	line-height: 30px;
	text-align: left;
	text-indent:13px;
	float:left;
	color:#999;
}
.xh{
	width: 117px;
	height: 20px;
	float:left;
	margin-left: 8px;
	margin-top:5px;
	background: url(../img/1.png);
	background-position:-453px -55px; 
}
.ci{
	width: 90px;
	height: 30px;
	float:right;
}
.fudong{
	width: 200px;
	height: 20px;
	background: yellow;
	opacity: 0.4;
	float:left;
}
#aa{
	width: 200px;
	height: 20px;
	background: green;
}
.ss#aa{
	width: 300px;
	height: 30px;
	background: red;
}
.biao{
	width: 47px;
	height: 30px;
	float:left;
	background:url(../img/1.png);
	background-position: -222px -97px;
	text-indent: 27px;
	line-height: 30px;
	color:#fff;
}
.chi{
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #999;
	float:left;
}
.houmianxia{
	width:440px;
	height:85px;
	float:left;
}
.zhe{
	width: 65px;
	height: 85px;
	float:left;
}
.geshou{
	width: 65px;
	height: 25px;
	text-align:left;
	line-height: 25px;
	float:left;
	color: #999;
	text-indent: 7px;
}
.geshou1{
	width:65px;
	height:25px;
	text-align:left;
	line-height: 25px;
	float:left;
	color: #999;
	text-indent: 7px;
}.geshou2{
	width:65px;
	height:25px;
	text-align:left;
	line-height:25px;
	float:left;
	color:#999;
	text-indent: 7px;
}
.huan{
	width: 117px;
	height: 85px;
	float:left;
}
.left{
	width: 30px;
	height: 30px;
	float:left;
	margin-top:27.5px;
	background:url(../img/1.png);
	background-position:-73px 0px;
}
.left:hover{
	background-position: -73px -32px;
}
.right{
	width: 30px;
	height: 30px;
	float:right;
	margin-top:27.5px;
	background:url(../img/1.png);
	background-position:-153px 0px; 
}
.right:hover{
	background-position: -153px -32px;
}
.stop{
	float:left;
	width: 42px;
	height: 42px;
	background:url(../img/1.png);
	background-position:-105px 0;
    margin-top:21.5px;
    margin-left:7.5px;
}
.stop:hover{
    background-position:-105px -42px;
}
.play{
	float:left;
	width: 42px;
	height: 42px;
	background:url(../img/1.png);
	background-position:-292px -88px;
	margin-top:21.5px;
	margin-left:7.5px;
}
.play:hover{
    background-position:-334px -88px;
}
.danqu{
	width: 85px;
	height: 85px;
	float:left;
}
.xunhuan{
	width:35px;
	height: 85px;
	float:left;
	position: relative;
}
.hh{
	width:35px;
	height: 20px;
	margin-top:32.5px; 
	background:url(../img/1.png);
	background-position:-222px -4px;
}
.hh:hover{
	background-position: -222px -36px;
}
.op{
	display: none;
	position:absolute;
	left:0;
	bottom:32.5px;
	width:32px;
	height:98px;
	background:#383838;
	z-index:9999;
	box-shadow:1px 1px 5px #000000;
	border-radius: 3px;
}
.op .li1{
	width: 32px;
	height: 24.5px;
	float:left;
	background:url(../img/1.png);
	background-position:-410px 0px; 
}
.li1:hover{
	background-position:-410px -22px;
}
.li2{
	width: 32px;
	height: 24.5px;
	float:left;
	background:url(../img/1.png);
	background-position:-410px -43px;
}
.li2:hover{
	background-position:-410px -65px;
}
.li3{
	width: 32px;
	height: 24.5px;
	float:left;
	background:url(../img/1.png);
	background-position:-377px 0px;
}
.li3:hover{
	background-position:-377px -22px;
}
.li4{
	width: 32px;
	height: 24.5px;
	float:left;
	background:url(../img/1.png);
	background-position:-377px -43px;
}
.li4:hover{
	background-position:-377px -65px;
}
.yinliang{
	width:138px;
	height:85px;
	float:left;
}
.zhongjian{
	width:115px;
	height: 30px;
	margin-top:27.5px;
	position: relative;
}
.yin{
	width: 30px;
	height: 30px;
    position: absolute;
    left: 0;
    top:0;
	background:url(../img/1.png);
	background-position:-190px 0px;
}
.yin:hover{
	background-position:-190px -32px;
}
.bao{
	width:78px;
	height: 10px;
	position: absolute;
	left:30px;
	top:10px;
    margin-top:10px;
    position: relative;
}
.liang{
	width:75px;
	height: 10px;
	background:url(../img/1.png);
	background-position:-290px -23px;
	position: absolute;
	left:0;
	top:0;
}
.disc{
	width:6px;
	height: 10px;
	position: absolute;
	left:72px;
	top:0;
	background:url(../img/1.png);
	background-position:-366px -1px;
	z-index: 33
}
.liang-x{
	width:75px;
	height: 10px;
	background:url(../img/1.png);
	background-position:-290px -12px;
	position: absolute;
	left:0;
	top:0;
}
